.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 1rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyList svg {
  height: 3.5rem;
}

.emptyList p {
  font-size: 1rem;
  color: var(--gray-300);
  text-align: center;
}

.emptyList p b {
  font-weight: bold;
}
